body {
    background: linear-gradient(132deg, #f44336, #E91E63, #9C27B0, #673AB7, #3F51B5, #2196F3,#03A9F4, #00BCD4, #009688, #4CAF50, #FFC107, #FF9800, #f44336, #E91E63, #9C27B0, #673AB7, #3F51B5, #2196F3,#03A9F4, #00BCD4, #009688, #4CAF50, #FFC107, #FF9800);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.baslik
{
color: #fff;
text-align: center;
font-family: 'Fira Sans', sans-serif;
}

.colorgraph {
    height: 8px;
    border-top: 0;
    background: white;
    border-radius: 10px;
    /* background-image: -webkit-linear-gradient(white); */
    
  }